version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - CLOUDANT_URL=https://443bd0f5-ed05-4779-9f95-4b6852fdc491-bluemix.cloudantnosqldb.appdomain.cloud/
      - CLOUDANT_APIKEY=0SQEoMgO5bIOGSWSaItxu7a5CusEOUSJGpPEKdA3Guqo
      - EXTERNAL_API_KEY=aeee9017f67745968e54c21cd2540883
    restart: unless-stopped

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - server
    restart: unless-stopped
